.grid__item {
  .archive__item-teaser {
    @include breakpoint($small) {
      object-fit: contain;
      max-height: 200px;
    }

    @include breakpoint($medium) {
      object-fit: contain;
      max-height: 200px;
    }
  }
}

.homepage_container {
  .grid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  body {
    margin: 2rem;
    font: 12px system-ui;
  }
}


