.archive__item {
    p { margin-bottom: 0.1em; }
    :hover { transform: scale(1.1); }
}

.archive__item-teaser {
    img {
        transition: transform .2s;
        //height: auto;
        //@include breakpoint($small) { height: auto; }
        //@include breakpoint($medium) { height: auto; }
        //@include breakpoint($large) { height: auto; }
    }
}

.archive__item-title {
    @include breakpoint($small) {
      margin-top: 0.1em;
    }

    @include breakpoint($medium) {
      margin-top: 0.1em;
    }
}

.homepage_container {
  .entities-grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  body {
    margin: 2rem;
    font: 12px system-ui;
  }
}

