---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
$right-sidebar-width-narrow: 5em !default;
$right-sidebar-width: 5em !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom"; // main partials

