---
---

@import "{{ site.theme }}";
/*@import "minimal-mistakes";*/


.page__title {
  color: #0f0;
  text-shadow: 0;
};

.page__hero--overlay {
  padding: 5em 0;
};

#hider
    {
        position:absolute;
        top: 0%;
        left: 0%;
        width:1600px;
        height:2000px;
        margin-top: -800px; /*set to a negative number 1/2 of your height*/
        margin-left: -500px; /*set to a negative number 1/2 of your width*/
        /*
        z- index must be lower than pop up box
       */
        z-index: 99;
       background-color:Black;
       //for transparency
       opacity:0.6;
    }

    #popup_box  
    {

    position:absolute;
        top: 50%;
        left: 50%;
        width:10em;
        height:10em;
        margin-top: -5em; /*set to a negative number 1/2 of your height*/
        margin-left: -5em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        border:  2px solid black;
        z-index:100; 

    }

.thumbnail-container {
    /*display: flex;*/
    /*flex-direction: row;*/
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 25px;
}
.thumbnail-container img {
    margin-top: -11.5%;
    margin-bottom: -11.5%;
}

.archive__item-teaser {
    max-height: 240px;
}  

/*@include breakpoint($small) {
    max-width: 1280px;
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

@include breakpoint($medium) {
    margin-left: 0; */ /* reset before mixin does its thing*/
    /* margin-right: 0;*/ /* reset before mixin does its thing*/
    /*max-width: 80%;
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  } */

$grey-color:         #757575;
$grey-color-darkish: darken($grey-color, 15%);
$brand-color:        #2a7ae2;
$details-background-color: #dbdbdb;

details {
    border-radius: 10px;
    padding: 0px 8px;
    margin-bottom: 15px;
}
details[open] {
    background: $details-background-color;
    padding: 0px 8px 8px 8px;
}
summary {
    margin: 0px 0px 8px 0px;
    outline:none;
}
details summary {
    color: $brand-color;
}
