---
layout: single
---
{%- assign entries_layout = page.entries_layout | default: 'list' -%}
<div class="homepage_container">
  <div><p><b>Charnwood Eco Hub is a not-for-profit, shared community hub based in Loughborough. Our aim is to provide a space to meet, make, fix, create and share sustainable ideas and resources.</b></p></div>
</div>
<div class="homepage_container">
  <div class="grid__item">
	  📞 <b>Phone:</b><br/> <a href="tel:+441509447075">01509 447075</a>
  </div>
  <div class="grid__item">
  📨 <b>Email:</b><br/> <a href="mailto:info@charnwoodecohub.org">info@charnwoodecohub.org</a>
  </div>
</div>

<div class="homepage_container">
  <div class="grid__item">
    <h1>Opening Hours and Latest News</h1>
    <a href="/news">Newsletters &raquo;</a>
  </div>
  <div class="grid__item">
    🕰 <b>Opening Hours:</b><br/>
    <b>Wednesday:</b> 4PM–8PM<br/>
    <b>Thursday:</b> 10AM–2PM<br/>
    <b>Saturday:</b> 10AM–2PM<br/>
  </div>
  <div class="grid__item">
    📍 <b>Address:</b><br/>
    1st Floor, Towles Mill Building (SOFA), Clarence Street, Loughborough, LE11 1DY<br/>
    ♿ <a href="/access">Accessibility &raquo;</a><br/>
  </div>
  {%- include documents-collection-tagged.html collection='news' sort_by=page.sort_by sort_order=page.sort_order type=entries_layout maxitems=1 -%}
</div>

<!--<div class="homepage_container">
  <div class="grid__item">
    <h1>Upcoming Workshops and Events</h1>
    <a href="/workshops-and-events">More &raquo;</a>
  </div>
  {%- include documents-collection-tagged.html collection='workshops-and-events' sort_by=page.sort_by sort_order='ascending' type=entries_layout tag='upcoming' maxitems=3 -%}
</div>-->

<div class="homepage_container">
  <div class="grid__item">
  <h1>Charnwood Eco Hub Updates</h1>
  <a href="/updates">More &raquo;</a>
  </div>
  {%- include documents-collection-tagged.html collection='updates' sort_by=page.sort_by sort_order=page.sort_order type=entries_layout maxitems=3 -%}
</div>

<div class="homepage_container">
  <div class="grid__item">
    <h1>Access and Location</h1>
  </div>
  <div class="grid__item">
    👉 <b>Daytime entry:</b> via the SOFA main entrance<br/>
    👉 <b>Evening entry:</b> via the Clarence Street side entrance, opposite Travis Perkins (<!--lift access available during the day only-->please note that the lift is currently out of order)<br/>
    ♿ <a href="/access">Accessibility &raquo;</a><br/>
  </div>
  <div class="grid__item">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d603.393233533241!2d-1.1993882462333572!3d52.7759762073097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879e1897ec37229%3A0xf91f3a0d92774cc1!2sCharnwood%20Eco%20hub!5e0!3m2!1sen!2suk!4v1737726164221!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
