---
layout: single
---
{%- assign entries_layout = page.entries_layout | default: 'list' -%}
<div class="homepage_container">
  <div><p><b>Charnwood Eco Hub is a not-for-profit, shared community hub based in Loughborough. Our aim is to provide a space to meet, make, fix, create and share sustainable ideas and resources.</b></p></div>
</div>
<div class="homepage_container">
  <div class="grid__item">
	  📞 <b>Phone:</b><br/> <a href="tel:+441509447075">01509 447075</a>
  </div>
  <div class="grid__item">
  📨 <b>Email:</b><br/> <a href="mailto:info@charnwoodecohub.org">info@charnwoodecohub.org</a>
  </div>
</div>

<div class="homepage_container">
  <div class="grid__item">
    <h1>Opening Hours and Latest News</h1>
    <a href="/news">Newsletters &raquo;</a>
  </div>
  <div class="grid__item">
    🕰 <b>Opening Hours:</b><br/>
    <b>Wednesday:</b> 4PM–8PM<br/>
    <b>Thursday:</b> 10AM–2PM<br/>
    <b>Saturday:</b> 10AM–2PM<br/>
    ♿ <a href="/access">Accessibility &raquo;</a><br/>
  </div>
  {%- include documents-collection-tagged.html collection='projects' sort_by=page.sort_by sort_order=page.sort_order type=entries_layout tag='shop' maxitems=1 -%}
  {%- include documents-collection-tagged.html collection='news' sort_by=page.sort_by sort_order=page.sort_order type=entries_layout maxitems=1 -%}
</div>

<div class="homepage_container">
  <div class="grid__item">
  <h1>Charnwood Eco Hub Projects</h1>
  <a href="/projects">More &raquo;</a>
  </div>
  {%- include documents-collection-tagged.html collection='projects' sort_by=page.sort_by sort_order=page.sort_order type=entries_layout tag='project' maxitems=3 -%}
</div>

<div class="homepage_container">
  <div class="grid__item">
    <h1>Upcoming Workshops and Events</h1>
    <a href="/workshops-and-events">More &raquo;</a>
  </div>
  {%- include documents-collection-tagged.html collection='workshops-and-events' sort_by=page.sort_by sort_order='ascending' type=entries_layout tag='upcoming' maxitems=3 -%}
</div>

<div class="homepage_container">
  <div class="grid__item">
    <h1>Access and Location</h1>
  </div>
  <div class="grid__item">
    📍 <b>Address:</b><br/>
    1st Floor, Towles Mill Building (SOFA), Clarence Street, Loughborough, LE11 1DY<br/>
    ♿ <a href="/access">Accessibility &raquo;</a><br/>
  </div>
  <div class="grid__item">
    👉 <b>Daytime entry:</b> via the SOFA main entrance<br/>
    👉 <b>Evening entry:</b> via the Clarence Street side entrance, opposite Travis Perkins (<!--lift access available during the day only-->please note that the lift is currently out of order)<br/>
  </div>
  <div class="grid__item">
    <a target="_blank" href="https://www.google.com/maps/place/Charnwood+Eco+Hub/@52.7760403,-1.2018344,17z/data=!3m1!4b1!4m6!3m5!1s0x4879e1897ec37229:0xf91f3a0d92774cc1!8m2!3d52.7760403!4d-1.1992595!16s%2Fg%2F11wwx3845k?entry=ttu&g_ep=EgoyMDI2MDEyMC4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D"><img src="/assets/img/mini-map.png" alt="Map graphic">Find us on the map &raquo;</a>
  </div>
</div>
